/* Переменные */

$body-bg-color: #74e1cb;
$body-color: #ffffff;

/* Общие стили */

body{
  background-color: $body-bg-color;
  color: $body-color;
  word-wrap: break-word;
}

h1{
  text-align: center;
}

/* Компоненты */

@import "components/words-generator";